spring:
  data:
    redis:
      host: localhost
      port: 6379

  profiles:
    active: local

logging:
  level:
    root: INFO
    com.joom.signaling: DEBUG
  pattern:
    console: "%d{HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n"